<span class="{{classes}}">
  <a 
    href="{{route}}" 
    {{#if new_tab}}target="_blank"{{/if}} 
    {{#if external}}value="{{link}}"{{/if}}
    class="{{child_classes}}"
  >
      {{label}}
  </a>
</span>